.header {
    position: relative;
    width: 1000px;
    height: 600px;
    background: #F4F5F7;
    border-radius: 25px;
    border: 2px solid mistyrose;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navigation :first-child {
    width: 76px;
    height: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
/* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    color: #6070FF;
    flex: none;
    order: 0;
    flex-grow: 7;
}

.navigation:nth-child(2) {
    width: 63px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;    
}
.navigation:nth-child(3) {
    width: 63px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;    
}
.navigation:nth-child(4) {
    width: 63px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 2;
    flex-grow: 0;    
}
/* Header bg */
.headline img {
    position: absolute;
    width: 700;
    height: 421.46px;
    left: 34.6px;
    top: 80px;
    bottom: 119px;
}
.bio-information :first-child {
    width: 920px;
    height: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091E42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bio-information :last-child {
    width: 920px;
    height: 98px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.headline {
    flex-wrap: wrap;
}
.bio-information {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0px;
    gap: 8px 12px;
    position: absolute;
    margin: auto;
    width: 122px;
    height: 80px;
    left: 122px;
    top: calc(50% - 80px/2);
}
